---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';
bdoy, html {height:100%; width:100%; margin:0; padding:0;}
// Our variables
$base-font-family: 'Open Sans', sans-serif;
$base-heading-font: 'Open Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$s-30:     30px;
$s-20:     20px;

.relative { position: relative; }
.absolute { position: absolute; }
.clear { clear: both; overflow: auto; zoom: 1; }

$text-color:       #4A4F51;
$heading-color:    #01161E;
$background-color: #fafafa;
$brand-color:      #4A4A4A;
$red:		#C53C4C;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        1000px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import 'type';
@import 'layout';
@import 'page-layout';
