<li>
	<a href="{{ site.url }}/about/">About HTT</a>
	<ul>
		<li><a href="{{ site.url }}/about/associations/">Associations</a></li>
		<li><a href="{{ site.url }}/about/testimonials/">Testimonials</a></li>
	</ul>
</li>
<li>
	<a href="{{ site.url }}/info/">Information</a>
	<ul>
		<li><a href="{{ site.url }}/info/savings/">Savings</a></li>
		<li><a href="{{ site.url }}/info/gallery/">Gallery</a></li>
	</ul>
</li>
<li>
	<a href="{{ site.url }}/opportunities/">Opportunities</a>
	<ul>
		<li><a href="{{ site.url }}/opportunities/licensing/">Licensing</a></li>
	</ul>
</li>

<li><a href="{{ site.url }}/contact/">Contact</a></li>