.full-width {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

// Nav
header {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100px;
	transition: .3s ease;
	display: block;
	clear: both;
	top: 0;
}

.nav-wrapper {
	width: 100%;
	text-align: center;
	display: block;
}

.mobile-nav {
	display: none;
}

.desktop-nav {
	height: 60px;
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	list-style: none;
	ul {
		margin-top: 35px;
		line-height: 60px;
		display: block;
		.logo {
			svg {
				margin-top: -20px;
				width: 60px;
				polyline,
				path {
					stroke: #C53C4C;
					stroke-width: 4px;
					transition: .3s ease;
				}
				&:hover polyline,
				&:hover path {
					stroke: #000;
					transition: .3s ease;
				}
			}
		}
		li {
			display: block;
			float: left;
			margin-left: 10%;
			position: relative;
			width: 90px;
			position: relative;
			transition: .3s ease;
			&:before {
				content: '';
			}
			ul {
				display: none;
				transition: .3s ease;
				opacity: 0;
			}
			&:hover {
				ul {
					display: block;
					background: #fafafa;
					z-index: 1001;
					clear: both;
					min-width: 100%;
					position: absolute;
					width: 130px;
					top: 20px;
					left: -15px;
					transition: .3s ease;
					opacity: 1;
					li {
						text-align: center;
						width: 100%;
						&:before {
							content: '›';
							color: $red;
							position: absolute;
							left: 0px;
							font-size: 1.2em;
							transition: .3s ease;
						}
						&:hover {
							&:before {
								left: 10px;
							}
							//background:darken(#eee, 2%);
							transform: scale(1.1);
						}
					}
				}
			}
		}
	}
	a {
		font-family: $base-heading-font;
		color: #4A4F51;
		display: block;
		&:hover {
			transition: .4s ease;
		}
	}
}

.header-scroll {
	height: 50px;
	background: #fafafa;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	display: block;
	.desktop-nav {
		width: 100%;
		ul {
			line-height: 50px;
			margin-top: -15px;
			clear: both;
			li:hover ul {
				position: absolute;
				top: 50px;
			}
		}
		.logo {
			svg {
				margin-top: 5px;
				width: 30px;
				margin-top: 2px;
				polyline,
				path {
					stroke: #4A4F51;
					stroke-width: 4px;
				}
			}
		}
	}
}

// Check buttons
input#english {
	position: absolute;
	display: block;
	top: 5px;
	width: 40px;
}

input#espanol {
	position: absolute;
	display: block;
	top: 30px;
	width: 40px;
}

title[for="english"] + input#english {
	position: absolute;
}

input[type="radio"].language-toggle {
	opacity: 1;
}

.language-toggle {
	a {
		color: $text-color;
		font-size: .8rem;
	}
	a.active {
		color: $brand-color;
	}
}

// Home page layout
// CHANGE BACKGROUND LINKS ON DEPLOYMENT and in _config.yml
.block-1 {
	display: block;
	width: 100%;
	height: 590px;
	background-image: url(http://vooshi.com/clients/htt/img/banner.jpg);
	background-size: cover;
	overflow: auto;
	position: relative;
	span {
		width: 45%;
		display: block;
		position: relative;
		top: 200px;
		margin: 0 auto;
		h2 {
			color: #fafafa;
		}
		p {
			color: #fafafa;
		}
		a {
			margin-top: 10px;
		}
	}
	.block-1-cta {
		width: 50%;
		margin: 0 auto;
	}
}

.block-2 {
	height: 550px;
	svg {
		width: 100%;
		float: left;
	}
}

.offset {
	background: darken(#fafafa, 4%);
	width: 100%;
	padding: 100px 0;
}

.onset {
	padding: 100px 0;
}

.block-wrapper {
	max-width: 1000px;
	margin: 0 auto;
}

.block-text {
	h2 {
		margin-top: 30px;
	}
	h3 {
		margin-top: 60px;
	}
	a.rounded-button {
		float: right;
		clear: both;
		margin-bottom: 10px;
	}
}

.block-4 {
	height: 400px;
	iframe {
		height: 400px;
		width: 100%;
	}
	background-repeat: no-repeat;
	background-size: cover;
}

.block-5 {
	width: 100%;
	height: 450px;
	background: $brand-color;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #fafafa;
	p {
		color: #fafafa;
		width: 50%;
		margin: 0 auto;
	}
}

.block-5 > .centered {
	width: 80%;
	margin: 0 auto;
}

a.rounded-button-clear {
	border: #fafafa 1px solid;
	color: #fafafa;
	padding: 10px 20px;
	border-radius: 30px;
	display: block;
	width: 150px;
	margin: 30px auto 0 auto;
	background: rgba(0, 0, 0, 0.0);
	transition: .3s ease;
	&:hover {
		transition: .3s ease;
		background: white;
		color: $text-color;
	}
}

a.rounded-button {
	display: block;
	button {
		color: #fafafa;
		padding: 10px 20px;
		border-radius: 30px;
		display: block;
		background: $brand-color;
		transition: .3s ease;
		&:hover {
			transition: .3s ease;
			background: darken($brand-color, 30%);
		}
	}
}

// Footer 
.footer-bg {
	background: $brand-color;
}

.footer-wrap {
	background: $brand-color;
	padding: 30px;
	.footer-contact {
		color: #fafafa;
		li {
			list-style: none;
		}
		p,
		a {
			color: #fafafa;
		}
	}
	.footer-nav {
		li {
			list-style: none;
			color: #fafafa;
			display: block;
			float: left;
			margin-left: 5%;
			font-weight: bold;
			ul > li {
				display: inline;
				clear: both;
				font-weight: 200;
				margin-left: -10px;
				margin-top: 4px;
				border-left: 1px #fafafa solid;
				padding-left: 4px;
				a {
					font-size: .8em;
				}
			}
			a {
				text-decoration: none;
				color: #fafafa;
				transition: .2s ease;
				&:hover {
					color: $red;
					transition: .2s ease;
				}
			}
		}
	}
}

.footer-logo {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	clear: both;
}