{% include head.html %}
{% include header.html %}

{% if page.banner != nil %}
<div class="banner-img row">
	<div class="small-12 columns ">
		<img src="{{ page.banner }}" draggable="false">
	</div>
</div>
{% endif %}

<div class="row 
	{% if page.banner != nil %}
		has-banner
	{% elsif page.banner == nil %}
		page-content
	{% endif %} 
	">

	<div class="columns small-12 medium-8">
		{{ content }}
	</div>

	<div class="columns small-12 medium-4 sidebar">
		{% contentblock sidebar %}
	</div>

</div>

{% include footer.html %}